<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group pl-3">
            <label for="number">Enter Number To Generate Fake Post</label>
                <input name="amount" type="number" class="form-control">
            <button type="submit">
            Button
            </button>
        </div>
    </form>
</div>